@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway-800.woff2") format("woff2"), url("../fonts/raleway-800.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-700.woff2") format("woff2"), url("../fonts/montserrat-700.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/firasans-400.woff2") format("woff2"), url("../fonts/firasans-400.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/firasans-500.woff2") format("woff2"), url("../fonts/firasans-500.woff") format("woff"); }

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/firasans-700.woff2") format("woff2"), url("../fonts/firasans-700.woff") format("woff"); }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.container {
  padding: 0 110px; }

@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px; } }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sprite {
  position: relative;
  background-image: url("../img/sprite/sprite@1x.png");
  background-repeat: no-repeat;
  background-size: 341px 183px;
  display: block; }
  .sprite--logo-header {
    width: 137px;
    height: 48px;
    background-position: -5px -130px; }
  .sprite--logo-footer {
    width: 85px;
    height: 27px;
    background-position: -5px -89px; }
  .sprite--bag {
    width: 32px;
    height: 25px;
    background-position: -5px -5px; }
  .sprite--hand {
    width: 32px;
    height: 29px;
    background-position: -131px -5px; }
  .sprite--hat {
    width: 36px;
    height: 35px;
    background-position: -47px -44px; }
  .sprite--relig {
    width: 23px;
    height: 25px;
    background-position: -209px -57px; }
  .sprite--star {
    width: 28px;
    height: 33px;
    background-position: -308px -57px; }

.programs__tab-radio:checked + label > .sprite--bag {
  background-position: -47px -5px; }

.programs__tab-radio:checked + label > .sprite--hand {
  background-position: -173px -5px; }

.programs__tab-radio:checked + label > .sprite--hat {
  background-position: -93px -44px; }

.programs__tab-radio:checked + label > .sprite--relig {
  background-position: -242px -57px; }

.programs__tab-radio:checked + label > .sprite--star {
  background-position: -209px -100px; }

.sprite-container.sprite-container:hover .sprite--bag {
  background-position: -89px -5px; }

.sprite-container.sprite-container:hover .sprite--hand {
  background-position: -5px -44px; }

.sprite-container.sprite-container:hover .sprite--hat {
  background-position: -139px -44px; }

.sprite-container.sprite-container:hover .sprite--relig {
  background-position: -275px -57px; }

.sprite-container.sprite-container:hover .sprite--star {
  background-position: -247px -100px; }

.sprite picture,
.sprite img {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0; }

@media screen and (max-width: 767px) {
  .sprite--logo-header {
    width: 120px;
    height: 42px;
    background-position: -215px -5px; }
  .sprite--logo-footer {
    width: 99px;
    height: 31px;
    background-position: -100px -89px; } }

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .sprite {
    background-image: url("../img/sprite/sprite@2x.png"); } }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }

.button,
.link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit; }

.input,
.button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: uppercase; }
  .input:hover,
  .button:hover {
    cursor: pointer; }

.input-container {
  position: relative; }

.input,
.button--main,
.input-label::after {
  border-radius: 1000px;
  font-size: 1.4rem;
  height: 5.9rem;
  letter-spacing: 0.05em;
  line-height: 5.9rem;
  padding: 0 4rem; }

.input {
  background-color: white;
  background-clip: padding-box;
  border: 2px #e3e3e3 solid;
  color: rgba(71, 71, 71, 0.871);
  font-weight: 600;
  line-height: 5.5rem;
  position: relative; }
  .input:-ms-input-placeholder {
    color: rgba(71, 71, 71, 0.5); }
  .input::-webkit-input-placeholder {
    color: rgba(71, 71, 71, 0.5); }
  .input::-moz-placeholder {
    color: rgba(71, 71, 71, 0.5); }
  .input::-ms-input-placeholder {
    color: rgba(71, 71, 71, 0.5); }
  .input::placeholder {
    color: rgba(71, 71, 71, 0.5); }
  .input:focus, .input:invalid {
    outline: none; }
  .input:invalid {
    background-color: white;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .input:focus {
    border-color: transparent; }
  .input--invalid {
    border-color: red; }
  .input--valid {
    border-color: rgba(71, 71, 71, 0.871); }

.input-label {
  height: 0;
  overflow: hidden;
  width: 0; }
  .input-label::after {
    background: transparent;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

.input:focus + .input-label::after {
  background: -webkit-gradient(linear, left top, right top, from(#ffc341), to(#ffd701));
  background: linear-gradient(to right, #ffc341, #ffd701); }

.button--main {
  background: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
  color: white;
  font-weight: 500;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12); }

.link {
  text-decoration: none; }
  .link:not(.active-link):hover {
    cursor: pointer; }
  .link:not(.active-link):hover, .link:not(.active-link):focus {
    text-decoration: underline; }

.section {
  max-width: 100%; }

.section h2,
.section h3 {
  color: #1fc0fc;
  font-family: "Montserrat", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  letter-spacing: -0.02em;
  margin: 0; }

.section h2 {
  font-size: 4rem;
  line-height: 4.9rem;
  margin-bottom: 25px;
  text-transform: uppercase; }

.section h3 {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 3.4rem; }

.section p {
  font-size: 1.7rem;
  line-height: 2.9rem; }

.section--narrow p {
  line-height: 2.5rem; }

.section__small p {
  font-size: 1.5rem;
  line-height: 2.6rem;
  opacity: 0.7; }

.section__small--narrow p {
  line-height: 2.1rem; }

@media screen and (max-width: 767px) {
  .section h2 {
    font-size: 3.2rem;
    line-height: 3.9rem; }
  .section h3 {
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -0.02em; }
  .section p {
    font-size: 1.6rem;
    line-height: 2.6rem; }
  .section__small p {
    font-size: 1.4rem;
    line-height: 2.2rem; } }

:root {
  font-size: 62.5%; }

.body {
  background-color: white;
  color: rgba(71, 71, 71, 0.871);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Fira Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 1.7rem;
  line-height: 1.7;
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  min-width: 320px;
  position: relative;
  width: 100%; }

.body > * {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.header-container {
  padding-right: 114px; }

.header {
  height: 48px;
  font-size: 1.5rem;
  font-weight: 600;
  left: 0;
  position: absolute;
  top: 32px;
  width: 100%;
  z-index: 1; }

.header__logo {
  left: 50%;
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.header__contacts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.header__button {
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  position: relative; }
  .header__button::after {
    border-bottom: 2px rgba(71, 71, 71, 0.871) solid;
    -o-border-image: repeating-linear-gradient(90deg, rgba(71, 71, 71, 0.871), rgba(71, 71, 71, 0.871) 2px, transparent 2px, transparent 6px, rgba(71, 71, 71, 0.871) 6px, rgba(71, 71, 71, 0.871) 8px) 1;
       border-image: repeating-linear-gradient(90deg, rgba(71, 71, 71, 0.871), rgba(71, 71, 71, 0.871) 2px, transparent 2px, transparent 6px, rgba(71, 71, 71, 0.871) 6px, rgba(71, 71, 71, 0.871) 8px) 1;
    bottom: -3px;
    content: "";
    display: block;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%; }

.header__phone:hover,
.header__button:hover {
  opacity: 0.75; }

@media screen and (max-width: 767px) {
  .header-container {
    padding-right: 7px; }
  .header {
    top: 20px;
    font-size: 1.4rem; }
  .header__logo {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    position: static;
    -webkit-transform: none;
            transform: none; }
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: -3px; }
  .header__button {
    font-size: 1.1rem;
    margin-right: 3px; } }

.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%; }

.banner p {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.9rem;
  margin-top: 538px;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  width: 343px; }

.banner__scroll-button {
  height: 132px;
  margin-top: 9px;
  margin-bottom: 145px;
  width: 76px; }

.banner picture,
.banner img {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

.banner img {
  background-color: rgba(243, 166, 51, 0.555);
  height: auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: auto; }

@media screen and (max-width: 767px) {
  .banner {
    margin-top: 32px; }
  .banner p {
    font-size: 2rem;
    line-height: 2.4rem;
    margin-top: 303px;
    width: 290px; }
  .banner__scroll-button {
    margin-top: 12px;
    margin-bottom: 85px; } }

.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #484848;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -11px;
  padding-bottom: 96px;
  background-image: url("../img/about/about-bg@1x--lg.jpg");
  background-position: bottom;
  background-size: 1366px 604px;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .about {
      background-image: url("../img/about/about-bg@2x--lg.jpg"); } }

.about__info {
  max-width: 100%; }

.about__info h2,
.about__info p {
  text-align: center; }

.about__info p {
  margin: 0 auto;
  max-width: 69rem; }

.about__video-container {
  height: 100%;
  margin-top: 47px;
  max-width: 100%;
  position: relative; }

.about video {
  background-color: rgba(236, 218, 61, 0.849);
  display: block;
  height: auto;
  -webkit-mask: url("../img/about/video-mask.png");
          mask: url("../img/about/video-mask.png");
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 870px 100%;
          mask-size: 870px 100%;
  max-width: 100%;
  min-height: 224px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 870px; }

.about__video-button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  left: 50%;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5; }

.about__video-button,
.about__video-button svg {
  display: block;
  height: 96px;
  width: 96px; }

.about__video-button svg {
  left: 0;
  position: absolute;
  top: 0; }

.about__video-button .play {
  fill: #1fc0fc; }

.about__video-button:hover .play {
  fill: #63d3fd; }

.about__video-button:hover .inner {
  -webkit-filter: url(#about__filter0);
          filter: url(#about__filter0); }

.about__video-button:active .inner {
  fill: #f4f4f4; }

@media screen and (max-width: 767px) {
  .about {
    margin-top: 0;
    padding-bottom: 0;
    background-image: url("../img/about/about-bg@1x--sm.jpg");
    background-position: bottom 131px right 0;
    background-size: contain; } }
  @media screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and (min-resolution: 144dpi), screen and (max-width: 767px) and (min-resolution: 1.5dppx) {
    .about {
      background-image: url("../img/about/about-bg@2x--sm.jpg"); } }

@media screen and (max-width: 767px) {
  .about__info p {
    text-align: left; }
  .about__video-button,
  .about__video-button svg {
    height: 80px;
    width: 80px; } }

.programs {
  font-size: 1.5rem;
  line-height: 2.6rem;
  padding-top: 104px;
  background-image: url("../img/programs/city-bg@1x--lg.jpg");
  background-position: top 56px right 0;
  background-size: 680px 426px;
  background-repeat: no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .programs {
      background-image: url("../img/programs/city-bg@2x--lg.jpg"); } }

.programs h2,
.programs__tabs {
  margin-left: 100px; }

.programs h2 {
  margin-bottom: 67px; }

.programs__tabs {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 64px;
  width: 228px; }

.programs__tab {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }

.programs__tab + .programs__tab {
  margin-top: 4px; }

.programs__tab-icon {
  left: 38px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%; }

.programs__tab-label {
  color: transparent;
  cursor: pointer;
  display: block;
  line-height: 6.8rem;
  padding-left: 72px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  width: 100%;
  z-index: 1; }
  .programs__tab-label::before {
    content: attr(data-text);
    color: rgba(71, 71, 71, 0.871);
    display: block;
    position: absolute;
    text-transform: capitalize; }

.programs__tab-radio:checked + .programs__tab-label {
  background: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%); }
  .programs__tab-radio:checked + .programs__tab-label::before {
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.13em;
    text-transform: uppercase; }
  .programs__tab-radio:checked + .programs__tab-label::after {
    -webkit-box-shadow: 3.1em -3.1em 0 3em white;
            box-shadow: 3.1em -3.1em 0 3em white;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    width: 100%; }
  @media screen and (max-width: 1023px) {
    .programs__tab-radio:checked + .programs__tab-label::after {
      display: none; } }

.programs__tab-label.programs__tab-label:hover {
  background: transparent; }
  .programs__tab-label.programs__tab-label:hover::before {
    background: transparent;
    background: -webkit-linear-gradient(312.19deg, #ffc341 20.46%, #ffd701 65.31%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffc341;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    text-transform: capitalize; }

.programs__list {
  max-width: 550px; }

.programs__list h3 {
  margin-bottom: 25px;
  margin-top: 16px; }

@media screen and (max-width: 1023px) {
  .programs {
    background-image: url("../img/programs/city-bg@1x--sm.jpg");
    background-position: top 198px right 0;
    background-size: 296px 201px;
    padding-top: 50px; } }
  @media screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 1023px) and (min-resolution: 144dpi), screen and (max-width: 1023px) and (min-resolution: 1.5dppx) {
    .programs {
      background-image: url("../img/programs/city-bg@2x--sm.jpg"); } }

@media screen and (max-width: 1023px) {
  .programs h2,
  .programs__tabs {
    margin-left: 0; }
  .programs h2 {
    text-align: center;
    margin-bottom: 17px; }
  .programs__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .programs__tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 15px;
    overflow: hidden;
    width: auto; }
  .programs__tab {
    margin: 0;
    padding: 0;
    width: auto; }
  .programs__tab:first-child {
    margin-left: auto; }
  .programs__tab:last-child {
    margin-right: auto; }
  .programs__tab + .programs__tab {
    margin-top: 0; }
  .programs__tab-label {
    border-radius: 4.8rem;
    line-height: 4.8rem;
    opacity: 0.4;
    padding: 0 12px 0 52px; }
  .programs__tab-radio:checked + .programs__tab-label,
  .programs__tab-label:hover {
    opacity: 1; }
  .programs__list {
    max-width: 100%; }
  .programs__tab-icon {
    left: 28px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%) scale(0.9);
            transform: translate(-50%, -50%) scale(0.9);
    -webkit-transform-origin: center;
            transform-origin: center; } }

@media screen and (max-width: 767px) {
  .programs {
    padding-top: 80px; }
  .programs__tabs {
    margin-left: -16px;
    margin-right: -16px; }
  .programs__list h3 {
    margin-bottom: 1.7rem; } }

.want {
  padding-bottom: 131px;
  padding-top: 224px;
  position: relative;
  background: url("../img/want/bag-bg@1x--lg.jpg") top 150px left 0/147px 262px no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .want {
      background-image: url("../img/want/bag-bg@2x--lg.jpg"); } }
  .want::after {
    background: url("../img/want/want-bg@1x--lg.jpg") bottom right/contain no-repeat;
    content: "";
    display: block;
    height: 594px;
    max-width: 818px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 60%;
    z-index: -1; }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .want::after {
        background-image: url("../img/want/want-bg@2x--lg.jpg"); } }

.want-container {
  margin-left: 100px;
  max-width: 400px; }
  .want-container--form {
    margin-top: 63px;
    max-width: 477px;
    position: relative;
    z-index: 0; }

.want__form-input {
  width: 100%; }

.want__form-button {
  position: absolute;
  right: 0;
  top: 0; }

@media screen and (max-width: 1023px) {
  .want {
    padding-top: 124px; }
    .want::after {
      max-width: 50%;
      top: -150px; }
  .want-container {
    margin-left: 0; } }

@media screen and (max-width: 767px) {
  .want {
    background-position: top 18px left 0;
    background-size: 103px auto;
    padding-top: 66px;
    padding-bottom: 0; }
    .want::after {
      background: url("../img/want/want-bg@1x--sm.jpg") center/auto 308px no-repeat;
      height: 308px;
      margin: 0 -16px;
      max-width: unset;
      min-width: 320px;
      position: static;
      width: auto; }
  .want-container {
    margin: 0 auto;
    max-width: 550px; }
    .want-container--form {
      margin-top: 23px;
      max-width: 287px; }
  .want h2 {
    text-align: center; }
  .want__form-button {
    margin: 8px auto 0; }
  .want__form-button {
    position: static;
    display: block;
    width: 264px; } }
