// Для отладки

.body {
  position: relative;

  &,
  & *,
  & *::after,
  & *::before {
    background: rgba(209, 10, 66, 0.11) !important;
  }

  & picture {
    opacity: 0.4;
  }

  &-bg {
    position: relative;
    height: 0;
    margin: 0 auto;
    width: 1366px;
    max-width: 100%;

    @include mq(phone) {
      width: 320px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;

      background-position: left;
      background-repeat: no-repeat;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;

      background-image: url("../img/temp/desktop.png") !important;
      height: 7942px;

      @include mq(phone) {
        background-image: url("../img/temp/phone.png") !important;
        height: 8423px;
      }
    }
  }
}

// Для отладки. Конец
