.footer {
  align-items: center;
  border-top: 2px $text-light-color solid;
  margin-top: auto;
  padding-bottom: 2rem;
  padding-top: 2.4rem;
}

.footer__logo,
.footer__social {
  width: 100%;
}

.footer__copyright {
  flex-shrink: 0;
  margin: 0 100;
}

.footer__copyright p {
  color: $text-medium-color;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin: 0;
}

.footer__copyright a {
  color: rgba($text-header-color, $medium-opacity);
}

.footer__social {
  justify-content: flex-end;
  margin-right: 4px;
}

.footer__social a {
  margin-left: 2rem;
}

@include mq(phone) {
  .footer {
    flex-direction: column;
    padding-bottom: 3.2rem;
    padding-top: 3.2rem;
  }

  .footer__logo,
  .footer__social {
    width: auto;
  }

  .footer__copyright {
    margin-top: 2.4rem;
  }

  .footer__social {
    justify-content: center;
    margin-top: 2.8rem;
  }

  .footer__social a {
    margin: 0 1rem;
  }

  .footer__social svg {
    height: 3rem;
    width: 3rem;
  }
}
