@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("raleway-800.woff2") format("woff2"),
    url("raleway-800.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-700.woff2") format("woff2"),
    url("../fonts/montserrat-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("firasans-400.woff2") format("woff2"),
    url("firasans-400.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: url("firasans-500.woff2") format("woff2"),
    url("firasans-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: url("firasans-700.woff2") format("woff2"),
    url("firasans-700.woff") format("woff");
}
