//=== Colors ===/

$body-bg-color: white;
$gradient-color-start: #ffc341;
$gradient-color-end: #ffd701;

$tab-gradient: linear-gradient(
  138.15deg,
  $gradient-color-start 20.46%,
  $gradient-color-end 65.31%
);

$text-gradient: -webkit-linear-gradient(
  42.19deg,
  $gradient-color-start 20.46%,
  $gradient-color-end 65.31%
);

$text-gradient-faq: -webkit-linear-gradient(
  5.15deg,
  $gradient-color-start 20.46%,
  $gradient-color-end 65.31%
);

$button-gradient: $tab-gradient;

$button-gradient-hover: linear-gradient(
  143.55deg,
  $gradient-color-start -50.3%,
  $gradient-color-end 63.1%
);

$button-gradient-active: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 30.67%,
    rgba(3, 3, 3, 0.24) 100%
  ),
  #{$button-gradient-hover};

$text-base-color: #484848;

$text-main-color: rgba($text-base-color, 0.87);
$text-placeholder-color: rgba($text-base-color, 0.5);
$text-button-color: white;
$text-bright-color: rgba($text-base-color, 1);
$text-photo-color: white;
$text-header-color: #1fc0fc;

$text-index-color: $gradient-color-start;

$text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);

$focus-shadow: 0 0 0 1px rgba($text-header-color, 0.4);

//=== /Colors ===/

//=== Fonts ===/
$firasans: "Fira Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$montserrat: "Montserrat", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$raleway: "Raleway", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
//=== /Fonts ===/

//=== Breakpoints ===/
$breakpoints: (
  phone: 767px,
  tablet: 1023px,
);
//=== /Breakpoints ===/
