//=== Colors ===/

$body-bg-color: white;

$text-main-color: #484848;
$text-photo-color: white;

//=== /Colors ===/

//=== Fonts ===/
$firasans: "Fira Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$montserrat: "Montserrat", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
$raleway: "Raleway", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
//=== /Fonts ===/

//=== Breakpoints ===/
$breakpoints: (
  phone: 767px,
  tablet: 1023px,
);
//=== /Breakpoints ===/
