.about {
  align-items: center;
  flex-direction: column;
  margin-top: -11px;
  padding-bottom: 96px;

  background: {
    image: url("../img/about/about-bg@1x--lg.jpg");
    position: bottom;
    size: 1366px 604px;
    repeat: no-repeat;
  }

  @include mret() {
    background-image: url("../img/about/about-bg@2x--lg.jpg");
  }
}

.about__info {
  max-width: 100%;
}

.about__info h2,
.about__info p {
  text-align: center;
}

.about__info p {
  margin: 0 auto;
  max-width: 69rem;
}

.about__video-container {
  height: 100%;
  margin-top: 47px;
  max-width: 100%;
  position: relative;
}

.about video {
  background-color: rgba(236, 218, 61, 0.849);
  display: block;
  height: auto;

  mask: url("../img/about/video-mask.png");
  mask-position: center;

  mask-repeat: no-repeat;
  mask-size: 870px 100%;
  //ломает FF
  // mask-size: cover;

  max-width: 100%;
  min-height: 224px;
  object-fit: cover;
  width: 870px;
}

.about__video-button {
  border: none;
  border-radius: 100%;
  cursor: pointer;
  left: 50%;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.about__video-button,
.about__video-button svg {
  display: block;
  height: 96px;
  width: 96px;
}

.about__video-button svg {
  left: 0;
  position: absolute;
  top: 0;
}

.about__video-button .play {
  fill: $text-header-color;
}

.about__video-button:hover .play {
  fill: #63d3fd;
}

.about__video-button:hover .inner {
  filter: url(#about__filter0);
}

.about__video-button:active .inner {
  fill: #f4f4f4;
}

@include mq(phone) {
  .about {
    margin-top: 0;
    padding-bottom: 0;
    background-image: url("../img/about/about-bg@1x--sm.jpg");
    background-position: top 58% right 0;
    background-size: 320px 186px;

    @include mret() {
      background-image: url("../img/about/about-bg@2x--sm.jpg");
    }
  }

  .about__info p {
    text-align: left;
  }

  .about__video-button,
  .about__video-button svg {
    height: 80px;
    width: 80px;
  }
}
