.accepted {
  margin-top: 12rem;
  padding: 0 9.5rem;
  text-align: center;
}

.accepted h3 {
  margin-top: 2.2rem;
  margin-bottom: 0.3rem;
}

.accepted__button {
  margin-top: 1.6rem;
  width: 26.4rem;
}

@include mq(phone) {
  .accepted {
    margin-top: 20rem;
    padding: 0 2rem;
  }

  .accepted__button {
    margin-top: 2rem;
  }
}
