.contacts {
  margin-top: 7.9rem;
  position: relative;
  overflow: hidden;
}

.contacts h2 {
  margin-bottom: 4.5rem;
}

.contacts__location,
.contacts__tutor-info {
  color: rgba($text-base-color, 0.74);
}

.contacts__location p {
  @include font-sm();
}

.contacts__location button {
  margin-left: 1.3rem;
  margin-right: 0.5rem;
}

.contacts__location svg {
  transform: translateY(3px);
}

.contacts__location,
.contacts__tutor {
  max-width: 480px;
  width: 42%;
}

.contacts__tutor {
  margin-bottom: 11.5rem;
  margin-top: 3.7rem;
  position: relative;
}

.contacts__tutor-info {
  margin-bottom: 2.4rem;
  min-height: 112px;
  padding-left: 136px;
}

.contacts__tutor-info picture {
  left: 0;
  position: absolute;
  top: 0;
}

.contacts__tutor-info img {
  border-radius: 100%;
}

.contacts__tutor-info p {
  @include font-sm();
}

.contacts__tutor-label {
  color: $text-header-color;
  margin-right: 0.5rem;
}

.contacts__tutor-info address,
.contacts__form-warning p {
  @include font-xs();
}

.contacts__tutor-info address {
  font-style: normal;
  margin-top: -0.5rem;
  width: 24rem;
}

.contacts__social {
  margin-left: 0.3rem;
  margin-top: 1.3rem;
}

.contacts__tutor-info svg {
  fill: $text-light-color;
  margin-right: 1.1rem;
}

.contacts__map-container {
  height: 448px;
  max-width: 702px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 52%;
}

.contacts__map {
  align-items: flex-end;
  height: 100%;
}

.contacts__map picture,
.contacts__map img {
  display: block;
}

.contacts__map img {
  width: 100%;
}

.contacts__form-text {
  max-width: 364px;
  min-width: 300px;
}

.contacts__form-questions p {
  font-weight: 500;
  line-height: 2.6rem;
  margin-bottom: 0;
  width: 90%;
}

.contacts__form-container form {
  flex-grow: 1;
  margin-left: 0.7rem;
  margin-top: 1.3rem;
}

.contacts__form {
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -24px;
}

.contacts__form input,
.contacts__form button {
  margin-right: 24px;
}

.contacts__form input {
  flex-grow: 1;
  margin-bottom: 2rem;
  max-width: 250px;
  width: 215px;
}

.contacts__form button {
  min-width: 216px;
}

@include mq(tablet) {
  .contacts h2 {
    text-align: center;
  }

  .contacts__location,
  .contacts__tutor {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    width: 100%;
  }

  .contacts__tutor {
    margin-bottom: 5.5rem;
  }

  .contacts__map-container {
    height: 420px;
    margin: 0 -16px;
    max-width: auto;
    overflow: hidden;
    position: static;
    width: auto;
  }

  .contacts__map-container picture {
    height: 100%;
    width: 100%;
    position: relative;
  }

  .contacts__map-container img {
    height: 100%;
    left: 60%;
    position: absolute;
    top: 0;
    transform: translateX(-60%);
    width: auto;
  }

  .contacts__form-container {
    flex-direction: column;
  }

  .contacts__form-container form {
    margin-left: 0;
  }

  .contacts__form-text {
    margin: 0 auto;
    max-width: 450px;
  }

  .contacts__form,
  .contacts__form input,
  .contacts__form button {
    margin-right: 12px;
    margin-left: 12px;
  }
}
