.how {
  align-items: center;
  margin-top: 160px;
}

.how__info {
  order: 2;
  max-width: 600px;
}

.how picture {
  flex-shrink: 3;
  mask: url("../img/how/how-mask.png");
  mask-position: right;
  mask-repeat: no-repeat;
  mask-size: 581px 100%;

  margin-left: 10px;
}

.how img {
  height: auto;
  width: 100%;
}

@include mq(tablet) {
  .how__info {
    margin-left: 30%;
    max-width: 800px;
  }

  .how picture {
    display: none;
  }
}

@include mq(phone) {
  .how__info {
    margin-left: 0;
  }
}
