.how {
  align-items: center;
  margin-top: 160px;
}

.how h2 {
  margin-bottom: 2.3rem;
}

.how__info {
  flex-grow: 1;
  max-width: 700px;
  order: 2;
}

.how__info p {
  @include font-sm();
}

.how__conditions-description {
  margin-top: 3.1rem;
}

.how__conditions-description p {
  @include font-regular();
  margin-bottom: 0.4rem;
}

.how__conditions {
  margin-bottom: 3.7rem;
  counter-reset: how-condition;
}

.how__condition {
  @include font-sm-narrow();
  align-items: center;
  display: flex;
  min-height: 7.6rem;
  padding: 1.5rem 0 1.5rem 4.2rem;
  position: relative;
  z-index: 0;

  &::after {
    @include font-regular();
  }

  &::after {
    align-items: center;
    background-color: white;
    border-radius: 1000px;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
    color: $button-color-start;
    content: counter(how-condition);
    counter-increment: how-condition;
    display: flex;
    font-weight: bold;
    height: 4rem;
    justify-content: center;
    left: 0;
    margin: 0;
    min-width: 4rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    border-left: 1px dashed $text-bright-color;
    border-image: repeating-linear-gradient(
        transparent,
        transparent 2px,
        $text-bright-color 2px,
        $text-bright-color 6px,
        transparent 6px,
        transparent 8px
      )
      2;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }

  &:last-child,
  &:first-child {
    &::before {
      height: 50%;
    }
  }

  &:first-child {
    &::before {
      bottom: 0;
      top: auto;
    }
  }
}

// IE не может при не заданном height спозиционировать контент по центру
.ie-fix {
  display: block;
  height: 4.6rem;
  margin-right: -1px;
  width: 1px;
}

.how__note p {
  @include font-sm-narrow();
}

.how__note {
  margin-bottom: 0;
  margin-right: -80px;
  padding-left: 15px;
  position: relative;

  &::after {
    background: $tab-gradient;
    content: "";
    display: block;
    height: 100%;
    left: -3px;
    position: absolute;
    top: 0;
    width: 4px;
  }
}

.how picture {
  flex-shrink: 3;
  mask: radial-gradient(ellipse at center, black, black 50%, transparent 70%),
    url("../img/how/how-mask.png") right/ 581px 100% no-repeat;

  margin-left: 10px;
}

.how img {
  height: auto;
  width: 100%;
}

@include mq(tablet) {
  .how {
    margin-top: 50px;
  }

  .how__info {
    margin-left: 30%;
    max-width: 800px;
    width: 100%;
  }

  .how picture {
    display: none;
  }
}

@include mq(phone) {
  .how {
    margin-top: 80px;
  }

  .how__info {
    margin: 0 auto;
    max-width: 500px;
  }

  .how__info h2 {
    margin-bottom: 2.5rem;
  }

  .how__conditions-description p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-top: -0.8rem;
  }

  .how__conditions {
    margin-top: -1.8rem;
  }

  .how__condition {
    margin-top: 0;
    min-height: 9.2rem;
    padding: 1rem 0 1rem 4.4rem;

    &::after {
      height: 3.6rem;
      min-width: 3.6rem;
    }

    &::after,
    &::before {
      left: 10px;
    }
  }

  .ie-fix {
    height: 7.2rem;
  }

  .how__note {
    margin-right: 0;
    margin-top: -2.5rem;
    padding-left: 8px;

    &::after {
      left: -6px;
    }
  }
}
