.button,
.link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.link {
  text-decoration: none;

  &:not(.active-link):hover {
    cursor: pointer;
  }

  &:not(.active-link):hover,
  &:not(.active-link):focus {
    text-decoration: underline;
  }
}
