.button,
.link {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.input,
.button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.input-container {
  position: relative;
}

.input,
.button--main,
.input-label::after {
  border-radius: 1000px;
  font-size: 1.4rem;
  height: 5.9rem;
  letter-spacing: 0.05em;
  line-height: 5.9rem;
  padding: 0 4rem;
}

.input {
  background-color: white;
  background-clip: padding-box;
  border: 2px #e3e3e3 solid;
  color: $text-main-color;
  display: block;
  font-weight: 600;
  line-height: 5.5rem;
  position: relative;
  width: 100%;

  &:-ms-input-placeholder {
    color: $text-placeholder-color;
  }

  &::placeholder {
    color: $text-placeholder-color;
  }

  &:focus,
  &:invalid {
    outline: none;
    box-shadow: none;
  }

  &:invalid {
    background-color: white;
  }

  &:focus {
    border-color: transparent;
  }

  &--invalid {
    border-color: red;
  }

  &--valid {
    border-color: $text-main-color;
  }
}

.input-label {
  height: 0;
  overflow: hidden;
  width: 0;

  &::after {
    background: transparent;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}

.input:focus + .input-label::after {
  background: $tab-gradient;
}

.button--main {
  background: $button-gradient;
  background: $button-gradient;
  color: $text-button-color;
  font-weight: 500;
  text-shadow: $text-shadow;

  &:hover {
    background: $button-gradient-hover;
  }

  &:active {
    background: $button-gradient-active;
  }
}

.button--secondary {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  position: relative;
}

.link {
  text-decoration: none;

  &:not(.active-link):hover {
    cursor: pointer;
  }

  &:not(.active-link):hover,
  &:not(.active-link):focus {
    text-decoration: underline;
  }
}

@include mq(phone) {
  .button--main {
    margin: 0 auto;
    width: 264px;
  }

  .button--secondary {
    font-size: 1.1rem;
  }
}
