.order {
  margin-top: 5.6rem;
  padding-left: 4.8rem;
  padding-right: 7.2rem;
}

.order__form {
  flex-direction: column;
  margin-top: 3.3rem;
}

.order__submit,
.order__checkbox-label {
  margin-left: 6rem;
  margin-right: 3.6rem;
}

.order__input {
  margin-bottom: 0.8rem;
}

.order__submit {
  margin-top: 1.6rem;
}

.order__checkbox-label {
  margin-top: 1.5rem;
  padding-left: 2.4rem;
  position: relative;

  @include font-xs();
}

.order__checkbox-container {
  left: 0;
  position: absolute;
  top: -2px;
}

.order__checkbox {
  bottom: 0;
  left: 50%;
}

.order__checkbox-svg {
  display: flex;
}

.order__checked {
  display: none;
}

.order__checkbox:checked + .order__checkbox-svg .order__checked {
  display: block;
}

.order__checkbox:focus + .order__checkbox-svg .order__rect {
  fill: rgba($text-header-color, 0.1);
}

@include mq(phone) {
  .order {
    margin-left: auto;
    margin-right: auto;
    margin-top: 17rem;
    padding: 0 1.6rem;
    max-width: 500px;
  }
}
.order h3,
.order p {
  margin: 0 auto;
  max-width: 94%;
  text-align: center;
}

.order h3 {
  margin-bottom: 1.6rem;
}

.order__submit,
.order__checkbox-label {
  margin-left: auto;
  margin-right: auto;
  min-width: 26.4rem;
  width: 80%;
}
