.programs {
  font-size: 1.5rem;
  line-height: 2.6rem;
  padding-top: 104px;

  background: {
    image: url("../img/programs/city-bg@1x--lg.jpg");
    position: top 56px right 0;
    size: 680px 426px;
    repeat: no-repeat;
  }

  @include mret() {
    background-image: url("../img/programs/city-bg@2x--lg.jpg");
  }
}

.programs h2 {
  margin-bottom: 67px;
}

.programs__tabs {
  flex-shrink: 0;
  margin-right: 64px;
  width: 228px;
}

.programs__tab {
  align-items: center;
  position: relative;
}

.programs__tab + .programs__tab {
  margin-top: 4px;
}

.programs__tab-icon {
  left: 38px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

.programs__tab-label {
  color: transparent;
  cursor: pointer;
  display: block;
  line-height: 6.8rem;
  padding-left: 72px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  user-select: none;
  width: 100%;
  z-index: 1;

  // чтобы не менялся размер табов на планшете
  &::before {
    content: attr(data-text);
    color: $text-main-color;
    display: block;
    position: absolute;
    text-transform: capitalize;
    user-select: none;
  }
}

.programs__tab-radio:checked + .programs__tab-label {
  background: $tab-gradient;

  &:hover {
    background: $button-gradient-hover;
  }

  &::before {
    color: white;
    background: transparent;
    -webkit-text-fill-color: white;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.13em;
    text-transform: uppercase;
  }

  &::after {
    box-shadow: 3.1em -3.1em 0 3em $body-bg-color;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    transform-origin: top right;
    width: 100%;
  }

  @include mq(tablet) {
    &::after {
      display: none;
    }
  }
}

.programs__tab-radio:focus + .programs__tab-label {
  box-shadow: $focus-shadow;
}

.programs__tab-label:hover {
  background: transparent;

  &::before {
    background: transparent;
    background: $text-gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $gradient-color-start;
  }
}

.programs__list {
  max-width: 550px;
}

.programs__item p {
  @include font-sm();
}

.programs__item h3 {
  margin-bottom: 25px;
  margin-top: 16px;
}

.programs__item--hidden {
  display: none;
}

@include mq(tablet) {
  .programs {
    background: {
      image: url("../img/programs/city-bg@1x--sm.jpg");
      position: top 198px right 0;
      size: 296px 201px;
    }

    padding-top: 50px;

    @include mret() {
      background-image: url("../img/programs/city-bg@2x--sm.jpg");
    }
  }

  .programs h2,
  .programs__tabs {
    margin-left: 0;
  }

  .programs h2 {
    text-align: center;
    margin-bottom: 17px;
  }

  .programs__info {
    flex-direction: column;
  }

  .programs__tabs {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.03em;
    margin: 0;
    margin-bottom: 14px;
    margin-top: -1px;
    padding: 1px 0;

    overflow: hidden;
    width: auto;
  }

  .programs__tab {
    margin: 0;
    padding: 0;
    width: auto;
  }

  .programs__tab:first-child {
    margin-left: auto;
  }

  .programs__tab:last-child {
    margin-right: auto;
  }

  .programs__tab + .programs__tab {
    margin-top: 0;
  }

  .programs__tab-label {
    border-radius: 4.8rem;
    line-height: 4.8rem;
    opacity: 0.4;
    padding: 0 12px 0 52px;
  }

  .programs__tab-radio:checked + .programs__tab-label,
  .programs__tab-label:hover {
    opacity: 1;
  }

  .programs__list {
    max-width: 100%;
  }

  .programs__tab-icon {
    left: 28px;
    position: absolute;
    transform: translate(-50%, -50%) scale(0.9);
    transform-origin: center;
  }
}

@include mq(phone) {
  .programs {
    padding-top: 80px;
  }

  .programs__tabs {
    margin-left: -16px;
    margin-right: -16px;
  }

  .programs__list h3 {
    margin-bottom: 1.7rem;
  }
}
