.reviews {
  background: url("../img/reviews/city@1x--lg.jpg") top 60px right 0 / 523px
    no-repeat;

  margin-top: 12.8rem;
  position: relative;

  @include mret() {
    background-image: url("../img/reviews/city@2x--lg.jpg");
  }
}

.reviews h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.reviews__item,
.reviews__item dl,
.reviews__picture-container,
.reviews__footer,
.reviews__controls-container,
.reviews__social {
  display: flex;
}

.reviews__picture-container {
  align-items: center;
  margin-right: 40px;
  margin-left: -11px;
  max-width: 364px;
  min-height: 100%;
  width: 100%;
}

.reviews__picture-container picture,
.reviews__picture-container img {
  display: block;
  height: auto;
  width: 100%;
}

.reviews__info,
.reviews__footer {
  flex-shrink: 0;
  margin-left: auto;
  margin-right: 6.5%;
  max-width: 680px;
  width: 60%;
}

.reviews__info {
  color: rgba($text-base-color, 0.74);
  padding-bottom: 8rem;
}

.reviews__info h3 {
  color: inherit;
  font-family: $firasans;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 3.6rem;
  margin-top: 3.8rem;
}

.reviews__info dl {
  @include font-sm-narrow();

  margin-top: 0.9rem;
  margin-bottom: 3.1rem;
}

.reviews__info > a,
.reviews__info dt {
  color: $text-header-color;
}

.reviews__info dd {
  margin-left: 1rem;
}

.reviews__info > a {
  text-decoration: underline;
}

.reviews__footer {
  align-items: center;
  padding-bottom: 0.3rem;
  position: relative;
  transform: translateY(-100%);
}

.reviews__controls-container {
  align-items: center;
  margin-right: auto;
}

.reviews__footer p {
  @include font-regular-narrow();
}

.reviews__footer p {
  color: $text-medium-color;
  margin: 0;
}

.reviews__controls {
  display: flex;
  margin-left: 0.2rem;
}

.reviews__button {
  line-height: 0;
  height: 2rem;
  width: 1rem;
  margin-left: 2rem;
}

.reviews__button svg {
  height: 100%;
  width: auto;
}

.reviews__button,
.reviews__footer a,
.reviews__footer svg {
  display: block;
}

.reviews__social-item {
  margin-left: 2rem;

  &:first-child {
    margin-left: 0;
  }
}

.reviews__footer a {
  height: 2.4rem;
}

.reviews__social svg {
  fill: $text-light-color;
}

@include mq(tablet) {
  .reviews__item {
    display: block;
  }

  .reviews__picture-container {
    float: left;
    width: 30%;
    margin-left: 5%;
  }

  .reviews__info,
  .reviews__footer {
    flex-shrink: 0;
    margin: 0 5%;
    max-width: 680px;
    width: 100%;
  }

  .reviews__info {
    padding-bottom: 5rem;
  }
}

@include mq(phone) {
  .reviews {
    margin-top: 8rem;

    background: url("../img/reviews/city@1x--sm.jpg") top 525px left
      calc(32px + 100vw - 320px) / 439px no-repeat;
  }

  .reviews h2 {
    margin-bottom: 2.5rem;
  }

  .reviews__info,
  .reviews__footer {
    flex-shrink: 0;
    margin: 0 auto;
    max-width: 400px;
  }

  .reviews__picture-container {
    float: none;
    justify-content: center;
    margin: 0;
    margin-bottom: 5.7rem;
    max-width: 100%;
    min-height: auto;
    max-height: 320px;
    width: 100%;
  }

  .reviews__picture-container picture {
    width: auto;
  }

  .reviews__info {
    padding-bottom: 1.9rem;
  }

  .reviews__item dl {
    flex-direction: column;
    margin-bottom: 2.3rem;
  }

  .reviews__item dd {
    margin-left: 0;
  }

  .reviews__info > p {
    margin-bottom: 1.7rem;

    &:last-of-type {
      margin-bottom: 2.3rem;
    }
  }

  .reviews__info > a {
    font-size: 1.6rem;
  }

  .reviews__footer {
    position: static;
    transform: none;
  }

  .reviews__controls-container {
    left: 50%;
    position: absolute;
    top: 393px;
    transform: translateX(-50%);
  }
  .reviews__controls {
    margin-left: 0.6rem;
  }

  .reviews__button {
    margin-left: 1.7rem;
  }
}
