.sprite {
  position: relative;
  background-image: url("../img/sprite/sprite@1x.png");
  background-repeat: no-repeat;
  background-size: 341px 183px;
  display: block;

  &--logo-header {
    width: 137px;
    height: 48px;
    background-position: -5px -130px;
  }

  &--logo-footer {
    width: 85px;
    height: 27px;
    background-position: -5px -89px;
  }

  &--bag {
    width: 32px;
    height: 25px;
    background-position: -5px -5px;
  }

  &--hand {
    width: 32px;
    height: 29px;
    background-position: -131px -5px;
  }

  &--hat {
    width: 36px;
    height: 35px;
    background-position: -47px -44px;
  }

  &--relig {
    width: 23px;
    height: 25px;
    background-position: -209px -57px;
  }

  &--star {
    width: 28px;
    height: 33px;
    background-position: -308px -57px;
  }
}

.programs__tab-radio:checked + label > .sprite {
  &--bag {
    background-position: -47px -5px;
  }

  &--hand {
    background-position: -173px -5px;
  }

  &--hat {
    background-position: -93px -44px;
  }

  &--relig {
    background-position: -242px -57px;
  }

  &--star {
    background-position: -209px -100px;
  }
}

.sprite-container.sprite-container:hover .sprite {
  &--bag {
    background-position: -89px -5px;
  }

  &--hand {
    background-position: -5px -44px;
  }

  &--hat {
    background-position: -139px -44px;
  }

  &--relig {
    background-position: -275px -57px;
  }

  &--star {
    background-position: -247px -100px;
  }
}

.sprite picture,
.sprite img {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

@include mq(phone) {
  .sprite--logo-header {
    width: 120px;
    height: 42px;
    background-position: -215px -5px;
  }

  .sprite--logo-footer {
    width: 99px;
    height: 31px;
    background-position: -100px -89px;
  }
}

@include mret() {
  .sprite {
    background-image: url("../img/sprite/sprite@2x.png");
  }
}
