.want {
  padding-bottom: 131px;
  padding-top: 224px;
  position: relative;

  background: url("../img/want/bag-bg@1x--lg.jpg") top 150px left 0 / 147px
    262px no-repeat;

  @include mret() {
    background-image: url("../img/want/bag-bg@2x--lg.jpg");
  }

  &::after {
    background: url("../img/want/want-bg@1x--lg.jpg") bottom right/ contain
      no-repeat;
    content: "";
    display: block;
    height: 594px;
    max-width: 818px;
    position: absolute;
    right: 0;
    top: 15px;
    width: 60%;
    z-index: -1;
    @include mret() {
      background-image: url("../img/want/want-bg@2x--lg.jpg");
    }
  }
}

.want-container {
  margin-left: 100px;
  max-width: 400px;

  &--form {
    margin-top: 63px;
    max-width: 477px;
    position: relative;
    z-index: 0;
  }
}

.want__form-input {
  width: 100%;
}

.want__form-button {
  position: absolute;
  right: 0;
  top: 0;
}

@include mq(tablet) {
  .want {
    padding-top: 124px;

    &::after {
      max-width: 50%;
      top: -150px;
    }
  }

  .want-container {
    margin-left: 0;
  }
}
